@model Dictionary<string, double>

<table>
    <thead>
    <th>ID</th>
    <th>Valor</th>
    </thead>
    <tbody>
        @foreach (var data in Model)
        {
            if 
        }
    </tbody>
</table>